extends layout

block content

    div.row

        div.col

            div.card

                // TODO
                // COMPONENT: Budgets
                ul(class="list-group list-group-flush")

                    // For all our active budgets, we'll list them here
                    if budgets
                        each budget in budgets
                            li.list-group-item= budget.name
                
                button(class="btn btn-primary" type="button" data-toggle="modal" data-target="#addBudgetModal") Add Budget

                // ADD BUDGET MODAL
                // Tab-index of -1 prevents sequential tab behavior on the element
                // The dialog aria role gives this Div some semantic meaning

                div(id="addBudgetModal" class="modal fade" tabindex="-1" role="dialog")
                    div(class="modal-dialog" role="document")
                        div.modal-content

                            // Header

                            div.modal-header

                                h5.modal-title Add Budget

                                button(type="button" class="close" data-dismiss="modal" aria-label="Close") 
                                
                                    // Purely decorative, not useful for accessibility software
                                    span(aria-hidden="true") &times;

                            // Body

                            div.modal-body

                                form

                                    div.form-group

                                        label(for="addBudgetNameInput") Name
                                        input(id="addBudgetNameInput" type="text" class="form-control" placeholder="Enter Budget Name")

                                    div.form-group

                                        label(for="addBudgetAmount") Amount Per Month
                                        input(id="addBudgetAmount" type="number" class="form-control" placeholder="Enter Budget Amount")

                                    div.form-group

                                        label(for="addBudgetCategories") Categories
                                        select(id="addBudgetCategories" class="form-control" multiple)

                                            option Food
                                            option Groceries
                                            option Tech

                                        div.row
                                            div(class="col pr-0")
                                                input(type="text" class="form-control" placeholder="Add Category")
                                            div(class="col pl-0")
                                                button(type="button" class="btn btn-primary") Save
                                        
                                        

                            // Footer

                            div.modal-footer
                                button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                                button(type="button" class="btn btn-primary") Save Budget
                                

        // COMPONENT: Uninspected Transactions            
        div.col
            div.row
                div.col
                    div.card
                        div.card-header

                            | Uninspected Transactions
                        ul(class="list-group list-group-flush")

                            if uninspectedTransactions
                                each transaction in uninspectedTransactions
                                    li.list-group-item= transaction


    script(src="/javascripts/dashboardEventListeners.js" type="module")                    