
.progressBar .progress{
  /*  height: 100%; */
}

/*Progress Bar Title*/
.progressBar .h3{
    text-align: center;
}

.progress{
    background-color: lightgrey;
}

.editableUserInfo{
    display: none; 
}

.readOnlyUserInfo{
    display: flex;
    justify-content: flex-end;
}

/*Space between User Info and button*/
.readOnlyUserInfo span{
    padding-right: 1%;
}